html
    head
        title= "Meme "+meme.id
    style
        include style.css
    body    
        h1="Historia cen"
        table
            each mem_price in meme.prices
                tr
                    td= mem_price.price
        h3="Set a new price"
        form(method="post")
            input(type="number" name="price" id="price")
            br
            input(type="submit" value="Zmień")
            input(type="hidden" name="_csrf" value= csrfToken)
        p=message
        footer
            a(href="/logout") Zaloguj/wyloguj
            p= "Liczba wyświetlonych stron w sesji: " +sites